<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="use_sim_time" default="false" />
  <arg name="camera_name" default="port_0" />
  <arg name="cam_config_file_path" default="$(find cam_lidar_calib)/config/tier4_c1_72_calibrated_param_1920x1280.yaml" />
  <arg name="x_min" default="-0.5"/>
  <arg name="x_max" default="0.5"/>
  <arg name="y_min" default="0.2"/>
  <arg name="y_max" default="2.5"/>  
  <arg name="z_min" default="-2.5"/>
  <arg name="z_max" default="2.5"/>
  
  <node pkg="cam_lidar_calib" ns="$(arg camera_name)" name="cam_lidar_calib" type="cam_lidar_calib_node" output="screen">
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
  	<param name="camera_in_topic" type="string" value="/$(arg camera_name)/camera/image_raw"/>
  	<param name="lidar_in_topic" type="string" value="/ouster/points"/>
  	<param name="dx" type="double" value="0.065"/>
  	<param name="dy" type="double" value="0.065"/>
  	<param name="checkerboard_rows" type="int" value="11" />
  	<param name="checkerboard_cols" type="int" value= "8" />
  	<param name="min_points_on_plane" type="int" value="750"/>
  	<param name="num_views" type="int" value="20"/>
	  <param name="no_of_initializations" type="int" value="1"/>
    <param name="x_min" value="$(arg x_min)"/>
    <param name="x_max" value="$(arg x_max)"/>
    <param name="y_min" value="$(arg y_min)"/>
    <param name="y_max" value="$(arg y_max)"/>
    <param name="z_min" value="$(arg z_min)"/>
    <param name="z_max" value="$(arg z_max)"/>
    <param name="ransac_threshold" value="0.01"/>
    <param name="initializations_file" value="$(find cam_lidar_calib)/result/EW2023/init_file_$(arg camera_name).txt"/>
    <param name="cam_config_file_path" type="string" value="$(arg cam_config_file_path)"/>
  	<param name="result_file" type="string" value="$(find cam_lidar_calib)/result/EW2023/calibrated_result_$(arg camera_name).txt"/>
  	<param name="result_rpy_file" type="string" value="$(find cam_lidar_calib)/result/EW2023/rpy_txyz_calibrated_result_$(arg camera_name).txt"/>
  </node>

</launch>
