<launch>

    <arg name="index0"        default="0"/>
    <arg name="index1"        default="1"/>
    <arg name="index2"        default="2"/>
    <arg name="index3"        default="3"/>
    <arg name="index4"        default="4"/>
    <arg name="index5"        default="5"/>
    <arg name="index6"        default="6"/>
    <arg name="index7"        default="7"/>
    <arg name="delay0"        default="0"/>
    <arg name="delay1"        default="2"/>
    <arg name="delay2"        default="4"/>
    <arg name="delay3"        default="6"/>
    <arg name="delay4"        default="8"/>
    <arg name="delay5"        default="10"/>
    <arg name="delay6"        default="12"/>
    <arg name="delay7"        default="14"/>
    <arg name="open_rviz"     default="false"/>

    <include file="$(find cam_lidar_calib)/launch/tier4_single_camera.launch">
      <arg name="index"             value="$(arg index0)"/>
      <arg name="node_start_delay"  value="$(arg delay0)"/>
    </include>
    
    <include file="$(find cam_lidar_calib)/launch/tier4_single_camera.launch">
      <arg name="index"             value="$(arg index1)"/>
      <arg name="node_start_delay"  value="$(arg delay1)"/>
    </include>

    <!-- open rviz -->
    <node if="$(arg open_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find cam_lidar_calib)/config/image_view_multicam.rviz"/>

</launch>